@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*{
    text-decoration: none;
}

.navbar {
    background:linear-gradient(to right,#EB3349, #F45C43);
    font-family: "Quicksand",sans-serif;
    font-weight: 500;
    padding-right: 15px;
    padding-left: 15px;
    border: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    font-weight: 700;
    font-family: "Quicksand",sans-serif;
    color:white;
}

li {
    list-style: none;
    display: inline-block;
}

li a{
    color:white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    transition: 0.5s;
}

li a:hover{
    opacity: 50%;
    background-color: white;
    color:#EB3349;
    padding:10px;
    border-radius: 20px;
}


.button_nav {
    font-size: 22px;
}

.port_buttons {

    background:linear-gradient(to right,#EB3349, #F45C43);
    width:180px;
    height: 130px;  
    display:inline-block;
    border-radius: 20px;
    border-color: black;
    border: 5cap;
    line-height: 130px;
    text-align: center;
    font-family:"Quicksand",sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
}

.port_buttons:hover {
    scale:105%;
    opacity:80%;
}



.port_buttons_bg {
    background-color: whitesmoke;
    width:max-content;
    height: auto;
    border-radius: 20px;
    border: solid grey 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contact_index {
    background-color: whitesmoke;
    width:1400px;
    height: 300px;
    border-radius: 20px;
    border: solid grey 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a {
    color:white;
}

.Members_text {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: black;
  
  }

  body {
    background-color: white;

      
  }

  .About_div {
    background-color: whitesmoke;
    width:900px;
    height: 340px;
    border-radius: 20px;
    border: solid grey 3px;
    margin-left: 40px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transition: 1s;
}

.About_div:hover {
    scale: 105%;
    border: solid black 3px;

}

.shalom_image {
    width:300px;
    display: inline-block;
    margin-left: 100px;
    transition: 1s;

    border-radius: 50px;
    border:solid grey 3px;
}

.shalom_image:hover {
    scale: 105%; 
    opacity: 90%;
    border: solid black 3px;
}

.shalom_image_div {
  position: absolute;
  top: 50%;
  left: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.about_content {
    font-size: 25px;
    font-family: "Quicksand",sans-serif;
    font-weight: 500;
    padding-left: 20px;
    
}

.about_2_div {
    background-color: whitesmoke;
    width:1400px;
    height: 270px;
    border-radius: 20px;
    border: solid grey 3px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
}

.about_2_div:hover {
    scale: 105%;
     
    border: solid black 3px;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.grid_img {
    width: 105%;
    transition: transform 1s;
    border-radius: 10px;
}

.slider::before,
.slider::after {
    
    content: ' ';
    height: 100%;
    position:absolute;
    width: 15%;
    z-index: 2;
}

.grid_img:hover {
    transform: translateZ(20px);    
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.Img_scroll_container {
    background-color: whitesmoke;
    width:1400px;
    height: 270px;
    border-radius: 20px;
    border: solid grey 3px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
}

.Img_scroll_container_lax {
    background-color: whitesmoke;
    width:1400px;
    height: 300px;
    border-radius: 20px;
    border: solid grey 3px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
}

.Img_scroll_container_lax:hover {
    scale: 105%;
     
    border: solid black 3px; 
}

.Img_scroll_container:hover {
    scale: 105%;
     
    border: solid black 3px;
}

.Models_text {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.slide-track:hover {
    animation-play-state:paused;
}

.about_3_div {
    background-color: whitesmoke;
    width: 800px;
    height: 270px;
    border-radius: 20px;
    border: solid grey 3px;
    display: inline-block;
    float: right;
    margin-right: 40px;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
}

.about_3_div:hover {
    scale: 105%;
     
    border: solid black 3px;
}

.web_image {
    width:300px;
    display: inline-block;
    margin-left: 100px;
    margin-top: -12px;
    transition: 1s;
    border-radius: 40px;
}
.web_image:hover {
    scale: 105%;
    opacity: 90%;
}

.web_image_siva:hover {
    scale: 125%;
    opacity: 90%;
}

.web_image_siva {
    width:300px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 12px;
    transition: 1s;
    scale:120%
}

.music_image {
    width:300px;
    display: inline-block;
    margin-left: 150px;
    margin-top: -12px;
    transition: 1s;
    scale: 130%;
}
.music_image:hover {
    scale: 135%;
    opacity: 90%;
}

.img_div_shalom {
    width:330px;
    display: inline-block;

    border-radius: 20px;
    margin:5px;
    transition: 1s;
    
}



.img_div_shalom:hover {
    scale:105%;
    opacity: 80%;
     
    
}

.img_shalom_web {
    width: 200px;

}

.Webapps_text {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: black;
}

.about_4_div {
    background-color: whitesmoke;
    width: 1400px;
    height: 200px;
    border-radius: 20px;
    border: solid grey 3px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
    
}

.about_4_div:hover {
    scale: 105%;
     
    border: solid black 3px;
}

.awards_text {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    padding:10px;
    margin:10px;

}

.awards_text_small {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: black;
    padding:10px;
    margin:10px;

}

.award_pic {
    width: 230px;
   

}

.hidden {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);

}

html {
	scroll-behavior: smooth;
}

.back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #F45C43;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 1s ease-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.back-to-top span {
	color: #fff;
	font-size: 3rem;
	transition: 1s ease-out;
    transition: 1s;
    
}

.back-to-top:hover {
	background-color: #EB3349;
    opacity: 80%;
    scale:110%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.back-to-top:hover span {
	transform: translateY(-4px);
}